<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content= "ie=edge">
    <title>{%block titulo%}Sala de cine{%endblock titulo%}</title>
</head>
<body>
    {%block cuerpo%}
    <h1>Listado de Peliculas</h1>
    <table border= "3">
        <thead id='aaa'>

            <tr>
                <th>Nombre</th>
                <th>Duracion</th>
                <th>Descripcion</th>
                <th>Detalles</th>
                <th>Genero</th>
                <th>Clasificación</th>
                <th>Estado</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalizacion</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pelicula %}
                <tr>
                    <td>{{ i.nombre }}</td>
                    <td>{{ i.duracion }}</td>
                    <td>{{ i.descripcion}}</td>
                    <td>{{ i.detalle}}</td>
                    <td>{{ i.genero }}</td>
                    <td>{{ i.clasificacion }}</td>
                    <td>{{ i.estado }}</td>
                    <td>{{ i.fechaComienzo }}</td>
                    <td>{{ i.fechaFinalizacion }}</td>


                    
                </tr>
            {% endfor %}

        </tbody>
    </table>
    {%endblock cuerpo%}

    <script>
        $("#aaa").append("<h1>bchdasvh</h1>")
    </script>
</body>
</html>